body {
  margin:0;font-family:Arial;
  background-image:url('../img/background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000c;
}

p {
  color: #f2f2f2;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

h2 {
  color: #f2f2f2;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

.contenedor{
  width: 80%;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #000c;
}

label {
  color: #f2f2f2;
}
